.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-content h3 {
  font-size: 28px;
  font-weight: bolder;
  margin: 10px;
}

.main-content h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.main-content p {
  margin: 10px 70px;
}

@media(max-width: 390px) {
  .main-content h3, .main-content h4, .main-content p {
    margin: 10px 30px;

  }
  
  

}